<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>user center</title>
	</head>
	<body>
		{$header}
		<div class="welcome">
			<h1>
				welcome: {$user_name}
			</h1>
		</div>
		<hr>
		<div class="activity">
			<h1>
				activity list
			</h1>
			<div class="list">
				{$activity_list}
			</div>
			<hr>
			<div class="add">
				<a href="./activity.php?act=add">add activity</a>
			</div>
		</div>
		<hr>
		<div class="user_action">
			<p><a href='user.php?act=logout'>logout</a></p>
		</div>
	</body>
</html>