<extend name='Public:base' />

<block name="head">
    <title>
        add activity
    </title>
</block>

<block name="content">
    <h2>
            add activity
    </h2>
    <div class="add">
        <form action="doAdd" method="post">
            <p>activity name:</p>
            <input type="text" name="act_id" value="{$act_id}">
            <input type="text" name="name" required="required">
            <p>time:</p>
            <input type="datetime-local" name="time" value="2016-12-12T00:00">
            <p>place:</p>
            <input type="text" name="place">
            <p>discription:</p>
            <input type="text" name="discription">
            <br>
            <input type="submit">
        </form>         
    </div>
</block>