<extend name='Public:base' />

<block name="head">
    <title>
        add activity
    </title>
</block>

<block name="content">
    <h2>
            add activity
    </h2>
    <div class="add well">
        <form action="doAdd" method="post" role="form">
            <div class="form-group">
                <p>activity name:</p>
                <input type="text" name="act_id" value="{$act_id}" class="hidden">
                <input type="text" name="name" required="required">
                <p>time:</p>
                <input type="datetime-local" name="time" value="2016-12-12T00:00">
                <p>place:</p>
                <input type="text" name="place">
                <p>discription:</p>
                <textarea name="discription" class="form-control" rows="3">
                </textarea>
                <br>
                <hr>
                <input type="submit">
            </div>
        </form>   
    </div>
</block>