<extend name="Public:base" />
<block name="content">
    <div>
        <h2>
            activity
        </h2>
        <div class="list_item">
                <h2 id="act_id" value="{$activity.act_id}">
                    activity name : {$activity.name}
                </h2>
                <p>
                    activity time : 
                    <input type="datetime-local" value="{$activity.time}" readonly="true">
                </p>
                <p>
                    activity place : {$activity.place}
                </p>
                <p>
                    activity discription : {$activity.discription}
                </p>
                <p>
                    <a href="__MODELE__/Shedule/add/act_id/{$activity.act_id}">add shedule</a>
                </p>
                <p>
                    <a href="__MODULE__/Activity/edit/act_id/{$activity.act_id}">edit</a>
                </p>
            </div>
    </div>
    <hr>
    <div>
        <h2>
            shedule
        </h2>
        <br>
        <foreach name="shedule" item="vo">
            <div class="shedule_item">
                <h3 id="shedule_id" value="{$vo.shedule_id}">
                    shedule name : {$vo.name}
                </h3>
                <p>
                    description : {$vo.description}
                </p>
                <p>
                    deadline : 
                    <input type="datetime-local" value="$vo.deadline" readonly="true">
                </p>
                <p>
                    finish : {$vo.finish}
                </p>
            </div>
        </foreach>
    </div>
</block>