<extend name="Public:base" />
<block name="content">
    <div class="row">
        <h2>
            activity
        </h2>
        <div class="list_item well col-md-12">
                <h2 id="act_id" value="{$activity.act_id}">
                    activity name : {$activity.name}
                </h2>
                <hr>
                <p>
                    activity time : 
                    <input type="datetime-local" value="{$activity.time}" readonly="true">
                </p>
                <p>
                    activity place : {$activity.place}
                </p>
                <hr>
                <p>
                    activity discription : {$activity.discription}
                </p>
                <p>
                    <a href="__MODULE__/Shedule/add/act_id/{$activity.act_id}">add shedule</a>
                </p>
                <hr>
                <p>
                    <a href="__MODULE__/Activity/edit/act_id/{$activity.act_id}">edit</a>
                    |
                    <a href="">delete</a>
                </p>
            </div>
    </div>
    <hr>
    <div class="row">
        <h2>
            shedule
        </h2>
        <br>
        <div class="row">
        <foreach name="shedule" item="vo">
            <div class="shedule_item well col-md-3">
                <h3 id="shedule_id" value="{$vo.shedule_id}">
                    shedule name : {$vo.name}
                </h3>
                <p>
                    deadline : 
                    <input type="datetime-local" value="$vo.deadline" readonly="true">
                </p>
                <hr>
                <p>
                    description : {$vo.description}
                </p>
                <p>
                    finish : {$vo.finish}
                </p>
                <hr>
                <p>
                    <a href="__MODULE__/Shedule/detail/shedule_id/{$vo.shedule_id}">
                        查看详情        
                    </a>
                </p>
            </div>
        </foreach>
        </div>
    </div>
</block>