<extend name="Public:base" />

<block name="head">
	<title>
		welcome to activity arrangement website
	</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="__PUBLIC__/css/slide/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/css/slide/style.css">

</block>

<block name="content">
<include file="Index/slide" />

<hr>

<h1>
	activity list
</h1>

 <foreach name="activity" item="vo">
        <div class="list_item">
            <h2 id="act_id" value="{$vo.act_id}">
                activity name : {$vo.name}
            </h2>
            <p>
                activity time : 
                <input type="datetime-local" value="{$vo.time}" readonly="true">
            </p>
            <p>
                activity place : {$vo.place}
            </p>
            <p>
                activity discription : {$vo.discription}
            </p>
            <p>
                <a href="__MODULE__/Activity/detail/act_id/{$vo.act_id}">查看详情</a>
            </p>
            <p>
                <a href="mailto:{$vo.email}">联系主办方</a>
                |
                <a href="__MODULE__/User/join/act_id/{$vo.act_id}">关注该活动</a>
            </p>
        </div>
        <br>
    </foreach>

</block> 