<extend name="Public:base" />

<block name="head">
	<title>
		welcome to activity arrangement website
	</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="__PUBLIC__/css/slide/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/css/slide/style.css">

</block>

<block name="content">
    <include file="Index/slide" />

    <hr>

    <h1 class="c">
     activity list
 </h1>


 <div class="container">
    <div class="row">
        <foreach name="activity" item="vo">
            <div class="col-md-4" style="height: 300px">  
            <div class="card card-inverse well">
                    <div class="card-block">
                        <h4 class="card-title">{$vo.name}</h4>
                        <p class="card-text"><input type="datetime-local" value="{$vo.time}" readonly="true"></p>
                    </div>
                    <hr>
                    <div class="card-block">
                        <p href="#" class="card-text" style="width: 100%; height: 48px;overflow: hidden; text-overflow:ellipsis">详细信息：{$vo.discription}</p>
                        <a href="__MODULE__/Activity/detail/act_id/{$vo.act_id}" class="card-link">查看详情</a>
                    </div>
                    <hr>
                    <div class="card-block">
                        <a href="mailto:{$vo.email}" class="card-link">联系主办方</a>
                        <a href="__MODULE__/User/join/act_id/{$vo.act_id}" class="card-link">关注该活动</a>
                    </div>
                </div>

            </div>
        </foreach>     
    </div>
</div>

</block> 