<div id="slider">
	<ul class="slides clearfix">
		<li><img class="responsive" src="__PUBLIC__/img/1.jpg"></li>
		<li><img class="responsive" src="__PUBLIC__/img/2.jpg"></li>
		<li><img class="responsive" src="__PUBLIC__/img/3.jpg"></li>
		<li><img class="responsive" src="__PUBLIC__/img/4.jpg"></li>
	</ul>
	<ul class="controls">
		<li><img src="__PUBLIC__/img/prev.png" alt="previous"></li>
		<li><img src="__PUBLIC__/img/next.png" alt="next"></li>
	</ul>
	<ul class="pagination">
		<li class="active"></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

<script src="__PUBLIC__/js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/slide/easySlider.js"></script>
<script type="text/javascript">
	$(function() {
		$("#slider").easySlider( {
			slideSpeed: 500,
			paginationSpacing: "15px",
			paginationDiameter: "12px",
			paginationPositionFromBottom: "20px",
			slidesClass: ".slides",
			controlsClass: ".controls",
			paginationClass: ".pagination"					
		});
	});
</script>