a<extend name="Public:base" />

<block name="content">

    <div class="c">
        <form action="dosignup" method="POST">
            <p>用户名</p>
            <input type="text" name="user_name">
            <p>邮箱</p>
            <input type="text" name="email">
            <p>密码</p>
            <input type="password" name="password">
            <p>重复密码</p>
            <input type="password" name="repassword">
            <br>
            <input type="submit">
        </form>
    </div>
</block>