<div>
    <foreach name="activity" item="vo">
            <div class="col-md-4">  
            <div class="card card-inverse well">
                    <div class="card-block">
                        <h4 class="card-title">{$vo.name}</h4>
                        <p class="card-text"><input type="datetime-local" value="{$vo.time}" readonly="true"></p>
                    </div>
                    <hr>
                    <div class="card-block">
                        <p href="#" class="card-text">详细信息：{$vo.discription}</p>
                        <a href="__MODULE__/Activity/detail/act_id/{$vo.act_id}" class="card-link">查看详情</a>
                    </div>
                    <hr>
                    <div class="card-block">
                        <p>
                        <a href="__MODULE__/Shedule/add/act_id/{$vo.act_id}">add shedule</a>
                        </p>
                        <p>
                    </div>
                </div>

            </div>
        </foreach>  
    <hr>
    <div class="col-md-12 well">
        <p>
            <a href="__MODULE__/Activity/add">add activity</a>
        </p>
    </div>
</div>