<extend name="Public:base" />

<block name="head">
    <title>
        edit your infomation
    </title>
</block>

<block name="content">
    <div class="c">
        <form action="doEditInfo" method="POST">
            <p>邮箱</p>
            <input type="text" name="email" value="{$email}">
            <p>旧密码</p>
            <input type="password" name="oldpassword">
            <p>新密码</p>
            <input type="password" name="password">
            <p>重复密码</p>
            <input type="password" name="repassword">
            <br>
            <input type="submit">
        </form>
    </div>
</block>