<div>
    <foreach name="join" item="vo">
        <div class="join_item col-md-4 well">
            <h3 id="act_id" value="{$vo.act_id}">
                activity name : {$vo.name}
            </h3>
            <p>
                activity time : 
                <input type="datetime-local" value="{$vo.time}" readonly="true">
            </p>
            <hr>
            <p>
                <a href="__MODULE__/Activity/detail/act_id/{$vo.act_id}">查看详情</a>
                |
                <a href="">取消关注</a>
            </p>
        </div>
    </foreach>
    <hr>
</div>