<div>
    <foreach name="joinedActivity" item="vo">
        <div>
            <h2 id="act_id" value="{$vo.act_id}">
                activity name : {$vo.name}
            </h2>
            <p>
                activity time : 
                <input type="datetime-local" value="{$vo.time}" readonly="true">
            </p>
            <p>
                activity place : {$vo.place}
            </p>
            <p>
                <a href="__MODULE__/Activity/detail/act_id/{$vo.act_id}">查看详情</a>
                |
                <a href="">取消关注</a>
            </p>
        </div>
    </foreach>
</div>  