<extend name="Public:base" />
<block name="head">
    <title>
        shedule detail
    </title>
</block>
<block name="content">
    <hr>
    <div>
        <h2>
            shedule
        </h2>
        <br>
        <div class="shedule_item well col-md-12">
            <h3 id="shedule_id" value="{$shedule.shedule_id}">
                shedule name : {$shedule.name}
            </h3>
            <p>
                deadline : 
                <input type="datetime-local" value="{$shedule.deadline}" readonly="true">
            </p>
            <hr>
            <p>
                description : {$shedule.description}
            </p>
            <p>
                finish : {$shedule.finish}
            </p>
            <hr>
            <p>
                <a href="__MODULE__/Shedule/edit/shedule_id/{$shedule.shedule_id}">edit</a>
                |
                <a href="">delete</a>
            </p>
        </div>
    </div>
</block>